:root {
  --hitam: #000000;
  --putih: #FFFFFF;
  --abu-abu: rgb(192, 192, 192);
  --biru: #013BDC;
  --hitam-transparant: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}