main#page-not-found {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

main#page-not-found div#bungkus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px 16px;
}

@media screen and (min-width: 400px) {
    main#page-not-found div#bungkus {
        width: 368px;
        margin: 0px;
    }
}