header#admin {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--putih);
}

header#admin div#bungkus {
    width: 100%;
    margin: 16px;
    display: flex;
    justify-content: start;
}

@media screen and (min-width: 1920px) {
    header#admin div#bungkus {
        width: 1888px;
        margin: 16px 0px;
    }
}